.button {
  background-color: #e02e3a;
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem 2rem;
  font-size: 8px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #c01b26;
  }
}