.product-card {
  background-color: #fdfdfe;
  border: 1px solid #e4e4e5;
  padding: 0.5rem;

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;

    .product-title {
      margin: 0.75rem 0 0 0;
      line-height: 1.2;
      font-size: 13px;
      font-weight: 200;
    }

    .product-price {
      line-height: 1.2;
      color: #e02e3a;
      font-weight: 600;
    }
  }

  .product-image-container {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .product-img {
      width: 5rem;
    }
  }
}